/* STYLES FOR THE BOXY PEDAL */

@import url(/fonts/nexa/stylesheet.css);
@import url(/fonts/questrial/stylesheet.css);


.gula-fades{{{cns}}} {
    background-image:url(/resources/gula-230x431.png{{{ns}}});
    width: 230px;
    height: 431px;
}

.gula-fades{{{cns}}} .mod-pedal-input {
    top: 100px;
}
.gula-fades{{{cns}}} .mod-pedal-output {
    top: 210px;
}

.gula-fades{{{cns}}} .brand {
    left:0;
    position:absolute;
    right:0;
    text-align:left;
    text-transform:uppercase;
    top:0px;
}

.gula-fades{{{cns}}} .brand h1 {
    display:inline-block;
    font-family:"Nexa";
    font-size:32px;
    color: #01d362;
    padding:3px 9px 0;
}

.gula-fades{{{cns}}} .name {
    left:0;
    position:absolute;
    right:0;
    text-align:left;
    top:30px;
}

.gula-fades{{{cns}}} .name h1 {
    font-family:"Questrial";
    font-size:21px;
    line-height:1;
    color: #01d362;
    padding:9px 9px 0;
}

.gula-fades{{{cns}}} .power {
    background-image:url(/resources/power-button.png{{{ns}}});
    background-position:bottom center;
    background-repeat:no-repeat;
    background-size:auto 178px;
    top: 0px;
    right: 3px;
    cursor:pointer;
    height: 88px;
    width: 88px;
    position:absolute !important;
    z-index: 30;
}
.gula-fades{{{cns}}} .power.on {
    background-position-y: top !important
}

/* .gula-fades{{{cns}}} .gula-slider:first-child {
    margin-left:8px;
} */

.gula-fades{{{cns}}} .gula-slider {
    color:black;
    float:left;
    font-size:11px;
    /* height:356px; */
    overflow:hidden;
    position:relative;
    text-align:center;
    width:115px;
    z-index: 30;
    margin-top:124px;
}


.gula-fades{{{cns}}} .gula-slider .gula-slider-title {
    display:block;
    font-size:11px;
    font-weight:bold;
    line-height:1;
    margin-top:5px;
    overflow:hidden;
    position:relative;
    color: #01d362;
}

.gula-fades{{{cns}}} .gula-slider .gula-slider-image {
    background-repeat:no-repeat;
    background-size:auto 247px;
    height:247px;
    width:115px;
}

.gula-fades{{{cns}}} .gula-slider .gula-slider-image-spread_1 {
    background-image:url(/resources/fade-spread-slider.png{{{ns}}});
}
.gula-fades{{{cns}}} .gula-slider .gula-slider-image-fade_0 {
    background-image:url(/resources/fade-slider.png{{{ns}}});
}

.gula-fades{{{cns}}} .gula-slider .gula-slider-image:hover {
    cursor:pointer;
}
